<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good) Exercises</span></div>

# **Exercise 1**

In [1]:
name = input('What is your name?')
age = input('What is your age?')

What is your name? EMMA
What is your age? 23

In [2]:
print('How you doin', name)

How you doin EMMA

In [4]:
print('my name is', name,'and I am',age,'years old')

my name is EMMA and I am 23 years old

In [10]:
name = "EMMA"
age = "23"

In [9]:
print(f"my name is {name}")

my name is EMMA

In [12]:
print(f"my name is {name} and I am {age} years ")

my name is EMMA and I am 23 years

In [20]:
#define the value of pi
pi = 3.141592653589793

In [11]:
print('the value of', pi)

the value of 3.141592653589793

In [30]:
print(f"The value of pi to 2 decimal places is: {pi:.2f}")
print(f"The value of pi to 3 decimal places is: {pi:.3f}")
print(f"The value of pi to 4 decimal places is: {pi:.4f}")

The value of pi to 2 decimal places is: 3.14
The value of pi to 3 decimal places is: 3.142
The value of pi to 4 decimal places is: 3.1416

In [18]:
apple = 'Apple'
banana = 'Banana'
orange = 'Orange'

In [19]:
price_apple = 0.99
price_banana = 0.59
price_orange = 1.29

In [27]:
print(f'{apple:>10} $ {price_apple:>5}')
print(f'{banana:>10} $ {price_banana:>5}')
print(f'{orange:>10} $ {price_orange:>5}')

     Apple $  0.99
    Banana $  0.59
    Orange $  1.29

## **Exercise 2**

In [59]:
score_input = input("Enter the student's score: ")

score = float(score_input) #to convert values into floating point numbers
if 0 <= score <= 100:
        
        if score >= 70:
            grade = "A"
        elif score >= 50:
            grade = "B"
        elif score >= 35:
            grade = "C"
        else:
            grade = "Fail"

        print(f"The student's letter grade is: {grade}")
else:
        print("Error: The score must be between 0 and 100.")

Enter the student's score:  85

The student's letter grade is: A

## **Exercise 3**

In [1]:
def factorial(n):
    if n < 0:
        return "Invalid input"
    elif n == 0:
        return 1
    else:
        result = 1
        for number in range(1, n+1):
            result *= number
        return result


print(factorial(5))   # Testing, expected output: 120
print(factorial(-1))  # Testing, expected output: Invalid input

120
Invalid input